[submodule "vendor/github.com/google/go-github"]
	path = vendor/github.com/google/go-github
	url = git://github.com/google/go-github.git
[submodule "vendor/github.com/google/go-querystring"]
	path = vendor/github.com/google/go-querystring
	url = git://github.com/google/go-querystring.git
[submodule "vendor/github.com/dchest/uniuri"]
	path = vendor/github.com/dchest/uniuri
	url = git://github.com/dchest/uniuri.git
[submodule "vendor/github.com/spf13/viper"]
	path = vendor/github.com/spf13/viper
	url = git://github.com/spf13/viper.git
[submodule "vendor/github.com/urfave/cli"]
	path = vendor/github.com/urfave/cli
	url = https://github.com/urfave/cli
[submodule "vendor/github.com/BurntSushi/toml"]
	path = vendor/github.com/BurntSushi/toml
	url = https://github.com/BurntSushi/toml
[submodule "vendor/github.com/fsnotify/fsnotify"]
	path = vendor/github.com/fsnotify/fsnotify
	url = https://github.com/fsnotify/fsnotify
[submodule "vendor/github.com/hashicorp/hcl"]
	path = vendor/github.com/hashicorp/hcl
	url = https://github.com/hashicorp/hcl
[submodule "vendor/github.com/magiconair/properties"]
	path = vendor/github.com/magiconair/properties
	url = https://github.com/magiconair/properties
[submodule "vendor/github.com/spf13/jwalterweatherman"]
	path = vendor/github.com/spf13/jwalterweatherman
	url = https://github.com/spf13/jwalterweatherman
[submodule "vendor/github.com/spf13/cast"]
	path = vendor/github.com/spf13/cast
	url = https://github.com/spf13/cast
[submodule "vendor/github.com/mitchellh/mapstructure"]
	path = vendor/github.com/mitchellh/mapstructure
	url = https://github.com/mitchellh/mapstructure
[submodule "vendor/github.com/spf13/pflag"]
	path = vendor/github.com/spf13/pflag
	url = https://github.com/spf13/pflag
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = https://go.googlesource.com/sys/
